<h1>About the Boss</h1>
<p>
  	<%= link_to "One Month Train Station", "http://onemonthrails.com" %>
  	is a project to teach 
  	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  	in one month. This is probably the best sample application in the whole universe.  I am Mr. Cool Dude YOYOYOYOYOYOYO.  I was walkin' down the street and who do I see?  I see a stupid guy and I punch him in teh face.
</p>